nav {
    background-color: #CAB4D9;
    font-size: 30px;
    border-radius: 25px;
    border: 15px solid #B38DA6;
    display: flex;
    flex-direction: row;
    padding: 30px;
    text-align: center;
    justify-content: space-evenly;
    gap: 50px;
    margin: 0px 250px;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap');

body {
    background-color: #E8DEF2;
    color: #0D0126;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Sour Gummy', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flexOne {
    padding: 20px;
    text-align: center;
}

.flexTwo {
    padding: 20px;
    text-align: center;
}

.gif {
    display: flex;
    justify-content: center;
}

.gif img {
    margin: 0; 
    display: inline;
    width: 400px; 
    height: auto;
    border-radius: 0; 
    border: none; 
}

a {
    text-decoration: none;
    color: #0D0126;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    height: 300px;
    border-radius: 25px;
    border: 25px solid #B38DA6;
}

h1 {
    text-align: center;
    font-size: 70px;
    text-decoration: solid;
    padding: 10px;
}

h2 {
    background-color: #CAB4D9;
    font-size: 50px;
    text-decoration: solid;
    border-radius: 25px;
    border: 5px solid #B38DA6;
    padding: 20px;
}

h5 {
    background-color: #CAB4D9;
    font-size: 30px;
    text-decoration: solid;
    border-radius: 25px;
    border: 5px solid #B38DA6;
    padding: 20px;
}

li {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding: 25px;
    list-style-type: none;
}